.fullBox {
    /* Tasks */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 736px;
    height: 287px;
    left: calc(50% - 736px/2);
    top: 291px;
}


.boxTask {
    /* Empty */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
    gap: 16px;
    width: 736px;
    height: 244px;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.taskCreated {
    /* Created */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 139px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.taskDone {
     /* Done */
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 111px;
    height: 19px;
    flex: none;
    order: 1;
    flex-grow: 0;  
}

.pendentTask {
    width: 688px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: var(--gray-300);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.pendentTaskImg {
    /* Clipboard */
    width: 56px;
    height: 56px;
    background: url(.png);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infoHeader {
    /* Info */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    gap: 561px;
    width: 736px;
    height: 19px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0
}

.taskList {
    margin-top: 2rem;
}
